html {
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: sans-serif, Helvetica, sans-serif;

	body {
		background-color: #f7f7ff;
	}

	.filter-options__buttons {
		display: flex;
		background-color: #26678f;
		justify-content: space-between;

		button {
			padding: 0.8em;
		}

		.filter-options__close-button {
			margin-left: 1.5em;
		}

		.filter-options__apply-button {
			margin-right: 1.5em;
		}
	}
	.container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(10, 1fr);
		height: 100%;
		height: 100vh;
		overflow: hidden;
	}

	.container__filter-options {
		background-color: #1b4965;
		z-index: 2;
		grid-row: 1/11;
		grid-column: 1/8;
		display: grid;
		grid-template-columns: 12;
		grid-template-rows: 12;

		&--hidden {
			display: none;
		}
	}

	.container__map-component {
		grid-row: 2/ 6;
		grid-column: 1/ 7;
		min-width: 400px;
		min-height: 300px;
		display: flex;
		flex-direction: column;
		z-index: 0;
	}

	.container__nav-bar {
		grid-row: 1 / 1;
		grid-column: 1 / 7;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#container__list-component {
		background-color: #1b4965;
		grid-row: 7/ 11;
		grid-column: 1 / 7;
		overflow: auto;

		h3,
		p {
			width: fit-content;
		}
	}

	.container__nav-bar h2 {
		color: #1b4965;
	}

	.container__list-options {
		background-color: #1b4965;
		grid-row: 6/6;
		grid-column: 1/7;
		border-radius: 12px 12px 0px 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;

		button {
			cursor: pointer;
			border: none;
			width: 20vw;
			height: 5vh;
			border-radius: 5px;
		}

		.list-options__filter-button {
			margin-left: 1.2em;
		}

		.list-options__clear-button {
			margin-right: 1.2em;
		}
	}

	.list-component__item {
		background-color: #26678f;
		min-width: max-content;
		min-height: max-content;
		padding-top: 1.2em;
		padding-bottom: 0.8em;
		margin: 0.3em;
		border-radius: 8px;
		color: white;
		border-bottom: rgb(150, 150, 150) solid 0.2px;
		cursor: pointer;
		h3 {
			margin-left: 1.3em;
			margin-bottom: 1.2em;
		}

		p {
			margin-left: 1.5em;
			color: rgb(211, 211, 211);
		}

		.list-item__bottom-row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.list-component__expand-info {
				margin-right: 1.1em;
				background-color: rgb(210, 210, 210);
				padding: 0.5em;
				border-radius: 15px;
				color: black;
			}
		}
	}
}
