html {
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: sans-serif, Helvetica, sans-serif;

	body {
		background-color: #f7f7ff;
	}

	.filter-options__buttons {
		display: flex;
		background-color: #26678f;
		justify-content: space-between;

		button {
			padding: 0.8em;
		}

		.filter-options__close-button {
			margin-left: 1.5em;
		}

		.filter-options__apply-button {
			margin-right: 1.5em;
		}
	}
	.container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(10, 1fr);
		height: 100%;
		height: 100vh;
		overflow: hidden;
	}

	.container__filter-options {
		background-color: #1b4965;
		z-index: 2;
		grid-row: 1/11;
		grid-column: 1/8;
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(10, 1fr);
		row-gap: 1.5rem;
		column-gap: 1.2rem;

		button {
			border: none;
			padding: 1.1rem;
			border-radius: 6px;
			font-weight: bold;
		}

		.filter-options__close-button {
			grid-row: 9 / 10;
			grid-column: 9 / 10;
		}

		.filter-options__apply-button {
			grid-row: 9 / 10;
			grid-column: 2 / 3;
		}

		.options__origin-country {
			grid-row: 2/3;
			grid-column: 2/10;
		}

		.options__flight-status {
			grid-row: 4/5;
			grid-column: 2/10;

			fieldset {
				border: none;
			}

			.flight-status__row {
				background-color: #1b4965;
				margin-bottom: 0.2rem;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: baseline;

				input {
					width: 70%;
				}
				label {
					width: 25%;
				}
			}
		}

		.options__flight-category {
			grid-row: 6/7;
			grid-column: 2/10;
		}

		.filter-options__input {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			label,
			p {
				margin-top: 0.8rem;
				padding: 0.2rem;
				color: white;
			}

			select,
			input {
				width: 80%;
				margin-top: 0.8rem;
				padding: 0.5rem;
			}
		}

		&--hidden {
			display: none;
		}

		//Add show class
	}

	.container__map-component {
		grid-row: 2/ 6;
		grid-column: 1/ 7;
		min-width: 400px;
		min-height: 300px;
		display: flex;
		flex-direction: column;
		z-index: 0;
	}

	.container__nav-bar {
		grid-row: 1 / 1;
		grid-column: 1 / 7;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#container__list-component {
		background-color: #1b4965;
		grid-row: 7/ 11;
		grid-column: 1 / 7;
		overflow: auto;

		h3,
		p {
			width: fit-content;
		}
	}

	.container__nav-bar h2 {
		color: #1b4965;
	}

	.container__list-options {
		background-color: #1b4965;
		grid-row: 6/6;
		grid-column: 1/7;
		border-radius: 12px 12px 0px 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;

		button {
			cursor: pointer;
			border: none;
			width: 20vw;
			height: 5vh;
			border-radius: 5px;
		}

		.list-options__filter-button {
			margin-left: 1.2em;
		}

		.list-options__clear-button {
			margin-right: 1.2em;
		}
	}

	.list-component__item {
		background-color: #26678f;
		min-width: max-content;
		min-height: max-content;
		padding-top: 1.2em;
		padding-bottom: 0.8em;
		margin: 0.3em;
		border-radius: 8px;
		color: white;
		border-bottom: rgb(150, 150, 150) solid 0.2px;
		cursor: pointer;
		h3 {
			margin-left: 1.3em;
			margin-bottom: 1.2em;
		}

		p {
			margin-left: 1.5em;
			color: rgb(211, 211, 211);
		}

		.list-item__bottom-row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.list-component__expand-info {
				margin-right: 1.1em;
				background-color: rgb(210, 210, 210);
				padding: 0.5em;
				border-radius: 15px;
				color: black;
			}
		}
	}
}
